.card {
    padding: 30px 15px;
    display: flex;
    height: 200px;
  
    .circle_container {
      order: 1;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
  
      .circle {
        width: 20px;
        height: 20px;
        border: 1px solid #048dff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
  
        &[data-fill='true'] {
          color: #fff;
          background-color: #048dff;
        }
      }
  
      .line {
        height: 140px;
        width: 1px;
        background-color: #048dff;
        position: absolute;
        bottom: -100px;
      }
    }
  
    
  
    .box {
      order: 2;
      display: flex;
      align-items: center;
  
      .content {
        .designation {
          font-size: 1.3rem;
        }
  
        .name {
          color: #048dff;
          font-size: 1rem;
        }
  
        .position {
          font-size: 1rem;
          padding-bottom: 10px;
        }
  
        .overview {
          font-size: 1rem;
          line-height: 2rem;
          height: 60px;

        }
      }
    }
  }
  