.header {
  height: 70px;
  padding-inline: 40px;
  display: flex;
  gap: 10px;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: #fff, $alpha: 0.5);
  backdrop-filter: blur(2px);
  z-index: 1000;

  &[data-fixed='true'] {
    position: fixed;
  }

  .icon {
    height: 40px;
  }

  .title {
    font-size: 1.5rem;
    font-weight: normal;
  }

  .nav {
    margin-left: 20px;
    display: flex;
    gap: 10px;

    .link {
      color: #000;
    }
  }
}
