.card {
    padding: 12px;
    background-color: $background-color;
    border-radius: 10px;
    border: solid 1px $primary-color;
    position: relative;
  
    &[data-haslink='true'] {
      transition: $transition;
      border: solid 1.5px $accent-color;
  
      &:hover {
        scale: 1.03;
      }
    }
  
    .link {
      cursor: pointer;
      position: absolute;
      left: 0;
      right: 0;a
      top: 0;
      bottom: 0;
    }
  }
  